@keyframes normalize2 {
  0% {
    transform: translateX(100);
  }
  30% {
    transform: translateX(30);
  }
  70% {
    transform: translateX(20);
  }
  100% {
    transform: translateX(0);
    transform: skewX(-40deg);
  }
}
/* LETTER H */
@keyframes skewRight {
  0% {
    transform: skewX(-40deg);
    color: black;
  }
  10% {
    color: green;
  }

  100% {
    transform: skewX(40deg);
    color: white;
  }
}
@keyframes skewLeft {
  0% {
    transform: skewX(40deg);
    color: white;
  }
  10% {
    color: red;
  }
  100% {
    transform: skewX(-40deg);
    color: black;
  }
}

/* LETTER E */
@keyframes moveUp {
  0% {
    transform: skewY(-20deg);
    color: black;
  }
  30% {
    transform: skewX(30deg);
    color: blue;
  }
  100% {
    transform: skewX(20deg);
    color: white;
  }
}
@keyframes moveDown {
  0% {
    transform: skewX(20deg);
    color: white;
  }
  50% {
    transform: skewX(30deg);
    color: orange;
  }
  100% {
    transform: skewY(-20deg);
    color: black;
  }
}

/* LETTER L */
@keyframes letterLout {
  0% {
    transform: skewY(12deg);
    color: black;
  }
  30% {
    color: yellow;
  }
  100% {
    transform: skewX(60deg);
    color: white;
  }
}
@keyframes letterLin {
  0% {
    transform: skewX(60deg);
    color: white;
  }
  50% {
    transform: skewY(-22deg);
    color: purple;
  }
  100% {
    transform: skewY(12deg);
    color: black;
  }
}

/* LETTER second L */
@keyframes letterIout {
  0% {
    transform: skewY(-20deg);
    color: black;
  }
  20% {
    transform: skewX(180deg);
    color: greenyellow;
  }
  100% {
    transform: skewX(40deg);
    color: white;
  }
}
@keyframes letterIin {
  0% {
    transform: skewX(40deg);
    color: white;
  }
  50% {
    transform: skewX(180deg);
    color: navy;
  }
  100% {
    transform: skewY(-20deg);
    color: black;
  }
}

/* LETTER O */
@keyframes letterEEout {
  0% {
    transform: skewY(15deg);
    color: black;
  }
  20% {
    color: cyan;
  }
  100% {
    transform: skewX(40deg);
    transform: rotate(200deg);

    color: white;
  }
}
@keyframes letterEEin {
  0% {
    transform: rotate(200deg);
    color: white;
  }
  50% {
    transform: skewX(180deg);
    color: beige;
  }
  100% {
    transform: rotate(0deg);
    transform: skewY(15deg);
    color: black;
  }
}

@keyframes normalize {
  0% {
    clip-path: polygon(5% 8%, 86% 3%, 95% 92%, 16% 94%);
  }
  30% {
    clip-path: polygon(33% 8%, 96% 19%, 74% 75%, 8% 84%);
  }
  70% {
    clip-path: polygon(17% 34%, 81% 5%, 85% 97%, 40% 85%);
  }
  100% {
    clip-path: polygon(5% 8%, 86% 3%, 95% 92%, 16% 94%);
  }
}

@keyframes popOutText {
  0% {
    /* transform: scaleX(10); */
  }
  30% {
    transform: skewX(40deg);
    /* font-size: 120px; */
  }
  100% {
    transform: skewX(40deg);
    /* transform: skewX(-40deg); */
  }
}

@keyframes moveInRight {
  0% {
    transform: skewX(-10deg);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    transform: skewX(10deg);
  }
}
@keyframes moveInRight2 {
  0% {
    transform: skewX(10deg);
  }

  100% {
    opacity: 1;
    transform: translate(0);
    transform: skewX(-10deg);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }

  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Homepage */
@keyframes popout {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes popout {
  from {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes popout2 {
  from {
    -webkit-transform: scale(1);
  }
  80% {
    -webkit-transform: scale(3);
  }
  to {
    -webkit-transform: scale(1);
  }
}

/* @keyframes moveUp {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    80% {
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes moveDown {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  } */

/* @keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
